.popup {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
        height: fit-content;
        background-color: #474747;
        padding: 40px;
        border-radius: 15px;
        z-index: 1;
    }

    &__cardContainer {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        height: fit-content;
        justify-content: space-between
    }

    &__closeBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #868686;
        background-color: transparent;
        width: 50px;
        height: 50px;
        font-size: 25px;
        padding: 0;
    }

    &__startButton {

        &_wrapper {}

    }

    &__h2,
    &__h3,
    &__h4,
    &__description,
    &__list {
        text-align: left;

        &_item {}
    }

    &__h4 {
        margin-bottom: 0;
    }

}
