.popup {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 50vw;
        width: fit-content;
        height: fit-content;
        background-color: #bebebe;
        padding: 40px;
        border-radius: 15px;
        z-index: 1;
        color: #000000;
    }

    &__cardContainer {
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        gap: 20px;
        height: fit-content;
        justify-content: space-between
    }

    &__closeBtn {
        position: absolute;
        cursor: pointer;
        top: 30px;
        right: 23px;
        background-color: transparent;
        width: 50px;
        height: 50px;
        font-size: 35px;
        padding: 0;
    }

    &__startButton {

        &_wrapper {}

    }

    &__h2,
    &__h3,
    &__h4,
    &__description,
    &__list {
        text-align: left;

        &_item {}
    }

    &__h2 {
        margin: 0 0 40px 0;
        color: #1d1d1d;
    }

    &__h4 {
        margin-bottom: 0;
    }

}
