.instruction-popup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    min-height: 30vw;
    height: fit-content;
    background-color: #474747;
    padding: 20px 40px;
    border-radius: 15px;
}

h1, h2, h3, h4, p, ol {
    text-align: left;
}

h4 {
    margin-bottom: 0;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #868686;
    background-color: transparent;
    width: 50px;
    height: 50px;
    font-size: 25px;
    padding: 0;
}
